    .progress-container {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 5px;
      background-color: #ddd;
      z-index: 1000;
    }

    .progress-bar {
      height: 100%;
      width: 0%;
      background-color: #4caf50;
      transition: width 0.25s ease-in-out;
    }

    .scroll-percentage {
      position: fixed;
      top: 10px;
      right: 10px;
      font-size: 18px;

      color: black;
      padding: 5px 10px;
      border-radius: 5px;
      z-index: 1001;
    }
table {
  border-collapse: collapse;
}
table th,table td {
  border: 1px solid black;
  padding: 2px;
}
img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}
body {

  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  padding: 8px;
  font-weight: bold;
}
.container {
  margin: auto;
  max-width: 500px;
  /*margin: 10px auto;*/
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.question {
  margin: auto;
  max-width: 500px;
  padding: 1px 10px 10px 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-bottom: 10px;
  /* border: 1px solid black;*/
}
.question-text {

  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #eee;
  padding: 3px;
  font-weight: bold;
  margin-bottom: 10px;
}
.flex {
  display: flex;
}
.answer {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.answer input[type="radio"] {
  margin-right: 5px;
}
.answer label {

  display: block;
  margin-right: 10px;
  cursor: pointer;
}
.score {
  font-weight: bold;
  margin-top: 20px;
}
#result {
  display: none;
  font-weight: bold;
  margin-top: 20px;
}
#result.correct {
  color: green;
}
#result.incorrect {
  color: red;
}
#timer {

  font-weight: bold;
  margin-bottom: 20px;
  animation: warning 2s infinite;
}
button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}
button:active {
  opacity: 0.8;
}
.hide {
  display: none;
}
.floating-buttons {
  position: fixed;
  bottom: 4%;
  right: 3%;
  transform: translateY(-50%);
}
.floating-buttons button {
  padding: 8px 12px;
  background-color: #4CAF50;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.floating-buttons button:active {
  opacity: 0.8;
}
@keyframes floatAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0);
  }
}
.floating-buttons button:hover {
  animation: floatAnimation 2s infinite;
}
@keyframes highlight {
  0%, 100% {}
  50% {
    color: lime;
  }
}
@keyframes warning {
  0%, 100% {}
  50% {
    color: red;
  }
}

pre {
  white-space: pre-wrap; /* Cho phép tự động xuống dòng */
            word-wrap: break-word; /* Xuống dòng khi từ quá dài */
  background-color: #eee;
  padding: 3px;
  border: 1px solid #ddd;
}
.highlight-animation {
  animation-name: highlight;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
header {
  font-size: 46px;
  text-align: center;
  margin-top: 50px;
}
textarea {
  width: 80%;
  height: 260px;
  font-size: 18px;
  margin: 0 auto;
  display: block;
  margin-top: 50px;
  margin-bottom: 30px;
  border-radius: 5px;
  border: 2px solid #ccc;
  padding: 10px;
}
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@keyframes radioAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.radio::before {
  content: "";
  width: 10px;
  height: 10px;
  margin-right: 5px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid gray;
  display: inline-block;
}
input[type="radio"] {
  display: none;
}
input[type="radio"]:checked + .radio::before {
  /* transform: translate(-50%, -50%) scale(1);*/
  animation: radioCheckedAnimation 0.5s ease-in-out;
  background-color: #4CAF50;
}
@keyframes radioCheckedAnimation {
  0% {
    transform: translate(0%, 0%) scale(0);
  }
  50% {
    transform: translate(0%, 0%) scale(1.2);
  }
  100% {
    transform: translate(0%, 0%) scale(1);
  }
}
.help {
  width: 25px;
  height: 25px;
  font-size: 20px;
  margin-left: auto;
  background-color: #fff;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


