html {
  background-color: #262626;
  margin-left: 0px;
  margin-right: 0px;
  /*background: url(../media/sign_spruce.png) repeat center;
  background-size: 700px*/
}
@font-face {
  src: url(Minecrafter.Reg.ttf);
  font-family: minecraft
}
* {
  color: #ffffff;
  font-family: sans-serif;
  user-select: text
}
::-webkit-scrollbar {
  background-color: transition;
  width: 10px
}
::-webkit-scrollbar-thumb {
  background-color: var(--background);
  border: 3px solid var(--border);
  border-radius: 5px
}
:root {
  --border: #777777;
  --background: #171717
}
a:hover {
  text-decoration: underline;
}
a {
  text-decoration: none;
  color: #0000ff;
}
/*----------Body----------*/
body {}
/*+++++Index+++++*/
.contentList {
  border-bottom: 4px solid var(--border);
  width: fit-content;
  font-size: 2em;
  font-weight: bold;
  margin: 4px;
}
/*+++++Title++++*/
.index:before {
  content: "Trang Chủ"
}
.rawText:before {
  content: "Văn Bản Thô"
}
.json-formattor:before {
  content: "Định Dạng Json"
}
.json-validator:before {
  content: "Kiểm Tra Json"
}
.npc_dialogue-generator:before {
  content: "Tạo npc_dialogue"
}
.encode-decode:before {
  content: "Mã Hóa & Giải Mã"
}
.uuid-generator:before {
  content: "Tạo Uuid"
}
/*+++++Img+++++*/
img {
  user-select: none
}
.sidebarIconClose {
  content: url(../media/book_close.png)
}
.sidebarIconOpen {
  content: url(../media/book_open.png)
}
.icond {
  height: 65px;
  margin: 5px 5px 5px 5px;
  width: 65px
}
.icond:active {
  outline: 2px solid #ffff00;
}
.tree_c {
  content: url(../media/tree_c.png);
  height: 1em;
  width: 1em;
}
.tree_e {
  content: url(../media/tree_e.png);
  height: 1em;
  width: 1em;
}
.tree_n {
  content: url(../media/tree_n.png);
  height: 1em;
  width: 1em;
}
.toggle_off {
  content: url(../media/toggle_off.png);
  height: 32px;
  width: 62.5px
}
.toggle_off:hover {
  content: url(../media/toggle_off_hover.png)
}
.toggle_on {
  content: url(../media/toggle_on.png);
  height: 32px;
  width: 62.5px
}
.toggle_on:hover {
  content: url(../media/toggle_on_hover.png)
}
.indeximg {
  content: url(../media/index.png)
}
.icon_format {
  content: url(../media/icon_format.png)
}
.icon_sign {
  content: url(../media/icon_sign.png)
}
.icon_confirm {
  content: url(../media/confirm.png)
}
.icon_confirm:active {
  content: url(../media/confirm_hover.png)
}
.icon_trash {
  content: url(../media/icon_trash.png)
}
.icon_error {
  content: url(../media/icon_error.png)
}
.icon_warning {
  content: url(../media/icon_warning.png)
}
.icon_inforbulb {
  content: url(../media/icon_inforbulb.png)
}
.icon_lock {
  content: url(../media/icon_lock.png)
}
.icon_unlock {
  content: url(../media/icon_unlock.png)
}
.icon_text {
  content: url(../media/icon_text.png)
}
.icon_x {
  content: url(../media/icon_x.png)
}
.icon_code {
  content: url(../media/icon_code.png)
}
.copyb {
  content: url(../media/copyimg.png)
}
.copyb:active {
  content: url(../media/copyimg_active.png)
}
.createuuid {
  content: url(../media/createuuid.png);
  height: 65px;
  margin: 5px 5px 5px 5px;
  width: 65px
}
.icon_dialogue {
  content: url(../media/icon_dialogue.png)
}
#saveFile {
  content: url(../media/icon_download.png)
}

/*+++++color+++++*/
green:before {
  content: "<";
  color: #ffffff;
}
green:after {
  content: ">";
  color: #ffffff;
}
green {
  color: #00ff00
}
white {
  color: #ffffff;
}
black {
  color: #000000;
}
cyan {
  color: #00ffff
}
.yellow {
  color: #ffff00
}
.blue {
  color: #0000ff;
}
orange {
  color: #ffa500
}
/*+++++Dropdown+++++*/
.dropdown:before {
  color: #ff0000;
  transition: 0.3s
}
.dropdownActive:before {
  color: lime;
  transition: 0.3s;
  transform: rotate(90deg)
}
.dropdownTab {
  padding-left: 1em
}
/*----------Header----------*/

header {
  background-color: var(--background);
  border-bottom: 4px solid var(--border);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: -8px;
  margin-bottom: 10px;
  text-align: center;
  align-items: center;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 3
}
.headerTitle {
  cursor: pointer;
  margin-top: 3px;
  font-family: minecraft;
  font-size: 40px;
  text-decoration: none
}
.search {
  margin-left: auto;
  margin-right: 3%;
  height: 30px;
  width: 240px
}
.searchBoxHide {
  display: none
}
.searchBar {
  align-items: center;
  border-bottom: 2px solid var(--border);
  display: flex
}
.searchIcon {
  content: url(../media/search_icon.gif);
  cursor: pointer;
  height: 32px;
  margin: 0px;
  width: 32px
}
.searchInput {
  background-color: transparent;
  border: none;
  font-size: 16px;
  height: 100%;
  outline: none;
  width: 100%
}
.searchBox {
  background-color: var(--background);
  border: 4px solid var(--border);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-bottom: 10px;
  cursor: default;
  overflow-y: auto;
  font-size: 16px;
  text-decoration: none
}
.searchBox li {
  display: block;
  outline: 1px solid var(--border);
  overflow-x: auto;
  padding: 5px
}
.sidebar {
  height: auto;
  position: fixed;
  width: auto;
  z-index: 2;
  transition: .3s
}
.sidebarClose {
  display: none
}
/*----------Footer----------*/

footer {
  background-color: var(--background);
  border-top: 4px solid var(--border);
  border-top-left-radius: 10px;
  border-top-right-radius: 90px;
  font-size: 20px;
  height: auto
}
.social {
  align-items: center;
  display: flex
}
.footerLink {
  font-size: 30px;
}
.socialLogo {
  margin-right: 7px;
}
.logoYoutube {
  content: url(../media/logo_youtube.png)
}
.logoTwitter {
  content: url(../media/logo_twitter.png)
}
.copyright {
  align-items: center;
  display: flex;
  margin: 5px 0 5px 0
}
.copyright1 {
  align-items: center;
  display: flex
}
.copyrightSide:before {
  content: "|";
  margin-left: 3px;
  margin-right: 3px
}
/*----------Unknown----------*/
  .toastError {
    background: url(../media/sign_acacia.png) repeat center;
  }
  .toastSuccess {
    background: url(../media/sign_warped.png) repeat center;
  }
  .toastWarning {
    background: url(../media/sign_birch.png) repeat center;
  }
	.toast {
    background-size: 120px;
		border: 4px solid var(--border);
		border-radius: 5px;
		width: 200px;
		padding: 5px;
		position: fixed;
		bottom: 3%;
		right: 1%;
		transform: translateX(300px);
		transition: 0.8s;
	}
	#toastCopy {
		overflow-x: auto;
	}
	#toastClose {
		content: url(../media/icon_x.png);
		filter: brightness(100);
		width: 12px;
		height: 12px;
		position: absolute;
		top: 6px;
		right: 6px;
	}
	#toastClose:hover {
		filter: brightness(1);
	}
/*============================================*/

.hide {
  display: none
}
.show {
  display: block
}
.wood_b {
  outline: none;
  border: 4px solid var(--border);
  background: url(../media/sign_spruce.png) repeat center;
  background-size: 70px
}
.wood_b_warning {
  outline: none;
  border: 4px solid #ff0000;
  background: url(../media/sign_spruce.png) repeat center;
  background-size: 70px
}
textarea {
  resize: none;
  outline: none
}
.center {
  align-items: center;
  display: flex
}
.usn {
  user-select: none
}

.createuuid:active {
  animation: createuuid 0.2s;
  content: url(../media/createuuid_hover.png)
}
@keyframes createuuid {
  100% {
    transform: rotateZ(180deg)
  }
}
button {
  background-color: transparent;
  outline-color: transparent;
  outline: none;
}
.button {
  display: flex;
  justify-content: center
}
.uuid {
  cursor: text;
  font-size: 30px;
  margin: 30px 0 30px 0;
  text-align: center;
  user-select: text
}
contentBox {
  border-radius: 0px;
  background-color: var(--background);
  border: 2px solid var(--border);
  margin: 15px;
}
.ar:before {
  content: "➤";
  display: inline-block;
  margin-right: 5px
}

.title {
  cursor: pointer;
  text-decoration: none;
  font-family: minecraft
}

.page_display {
  display: grid;
  grid-template-areas:
  "left right";
  grid-template-columns: 75% auto;
  grid-column-gap: 10px
}
.left {
  grid-area: left
}
.right {
  grid-area: right
}
.box {
  background-color: var(--background);
  border: 4px solid var(--border);
  border-radius: 10px;
  display: grid;
  margin-bottom: 10px;
}
.h {
  background: url(../media/sign_darkoak.png) repeat center;
  background-size: contain;
  border-radius: 3px;
  cursor: default;
  font-size: 26px;
  justify-self: center;
  margin: 10px;
  padding: 5px;
  text-align: center;
  font-weight: bold
}
.p {
  cursor: default;
  font-size: 20px;
  margin: 5px
}
note {
  user-select: none;
  color: #ff0000;
  font-size: 14px;
  font-style: italic;
  vertical-align: super;
  cursor: help
}
wip:after {
  content: " (WIP) ";
  color: #ffff00
}
  .buttonmargin {
    margin-left: 84.5px;
  }
@media screen and (max-width: 768px) {
  .buttonmargin {
    margin-left: 67px;
  }
  .toggle_off {
    content: url(../media/toggle_off.png);
    height: 24px;
    width: 45px
  }

  .toggle_on {
    content: url(../media/toggle_on.png);
    height: 24px;
    width: 45px
  }

  .headerTitle {
    font-size: 30px;
  }
  .icond {
    height: 45px;
    margin: 5px 5px 5px 5px;
    width: 45px
  }
  .footerLink {
    font-size: 16px
  }
  .createuuid {
    content: url(../media/createuuid.png);
    height: 45px;
    margin: 5px 5px 5px 5px;
    width: 45px
  }
  .search {
    margin-bottom: 1%;
    margin-left: auto;
    margin-right: 3%;
    justify-content: center;
    order: 4
  }
  header {
    font-size: 26px;
    align-items: center;
    flex-wrap: wrap
  }
  footer {
    font-size: 13px;
    height: auto
  }
  .page_display {
    display: grid;
    grid-template-columns: 1fr
  }
  .left_top {
    grid-template-areas:
    "left"
    "right";
  }
  .right_top {
    grid-template-areas:
    "right"
    "left";
  }
  .h {
    font-size: 16.8px;
    margin: 5px
  }
  .p {
    font-size: 14px
  }
  note {
    font-size: 12px
  }
}
